@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function forms--md-form-group($value, $flags) {
  $label--font-size: value($formgroup-label--font-size, $flags);
  $label--line-height: value($formgroup-label--line-height, $flags);
  $label--margin-bottom: value($formgroup-label--margin-bottom, $flags);
  $label--inner-height: $label--font-size * $label--line-height;
  $label--outer-height: (strip-unit($label--font-size) * $label--margin-bottom) + $label--inner-height;

  @if $value {
    @return (
      (padding-top, $label--outer-height, $flags),
      (position, relative, $flags),
    );
  } @else {
    @return (
      (padding-top, 0, $flags),
      (position, static, $flags),
    );
  }
}


@function forms--md-form-label($value, $flags) {
  $label--font-size: value($formgroup-label--font-size, $flags);
  $label--line-height: value($formgroup-label--line-height, $flags);
  $label--margin-bottom: value($formgroup-label--margin-bottom, $flags);
  $label--inner-height: $label--font-size * $label--line-height;
  $label--outer-height: (strip-unit($label--font-size) * $label--margin-bottom) + $label--inner-height;

  $input--font-size: value($formgroup-input--font-size, $flags);
  $input--line-height: value($formgroup-input--line-height, $flags);

  @if $value {
    @return (
      (position, absolute, $flags),
      (top, $label--outer-height, append($flags, '[data-mdform="folded"')),
      (font-size, $input--font-size, append($flags, '[data-mdform="folded"')),
      (line-height, $input--line-height, append($flags, '[data-mdform="folded"')),

      (top, 0, append($flags, '[data-mdform="unfolded"')),
      (font-size, $label--font-size, append($flags, '[data-mdform="unfolded"')),
      (line-height, $label--line-height, append($flags, '[data-mdform="unfolded"')),
      (transition, all ease-in-out 200ms, $flags),

    );
  } @else {
    @return (
      (position, static, $flags),
    )
  }
}
