@function forms--select-caret-switch($value, $flags) {
  $width: value($select-caret--width, $flags);
  $height: value($select-caret--height, $flags);
  $background-color: value($select-caret--background-color, $flags);


  @if $value == 'image' {
    @return (
      (width, $width, $flags),
      (height, $height, $flags),
      (background-color, $background-color, $flags),
      (border-left, 0),
      (border-right, 0),
      (border-top, 0),
    );
  } @elseif $value == 'css' {
    @return (
      (width, 0, $flags),
      (height, 0, $flags),
      (border-left, ($width / 2) solid transparent, $flags),
      (border-right, ($width / 2) solid transparent, $flags),
      (border-top, $height solid $background-color, $flags),
    );
  }
}

@function forms--select-caret-margin-top($value, $flags) {
  @return (
    (margin-top, (-$value / 2), $flags),
  );
}

@function forms--select-padding-right($value, $flags) {
  $padding-right: $value;
  $caret--width: value($select-caret--width, $flags);
  $caret--margin-left: value($select-caret--margin-left, $flags);

  @return (
    (padding-right, $caret--margin-left + $caret--width + $padding-right, $flags),
  );
}
