/**
 * forms
 */

@mixin mixin-dispatcher($value, $flags, $mixin) {
  @if $mixin == 'forms--md-form-group' {
    @include forms--md-form-group($value, $flags);
  } @elseif $mixin == 'forms--md-form-label' {
    @include forms--md-form-label($value, $flags);
  } @elseif $mixin == 'forms--checkbox-native-margin' {
    @include forms--checkbox-native-margin($value, $flags);
  }
};

$formgroup--selector: selector--constructor($form--synthax, 'form-group');

@include selector($formgroup--selector) {
  @include declaration(font-size, $formgroup--font-size);
  @include declaration(font-family, $formgroup--font-family);
  @include declaration(margin-bottom, $formgroup--margin-bottom);
  @include declaration('-include-forms--md-form-group', $formgroup--md-effet);

  @include block-generation($formgroup--selector);
}


$formgroup-label--selector: selector--set-element($formgroup--selector, 'label');

@include selector($formgroup-label--selector) {
  @include declaration(display, block);
  @include declaration(font-size, $formgroup-label--font-size);
  @include declaration(font-family, $formgroup-label--font-family);
  @include declaration(margin-bottom, $formgroup-label--margin-bottom);
  @include declaration(text-align, $formgroup-label--text-align);
  @include declaration(line-height, $formgroup-label--line-height);
  @include declaration(color, $formgroup-label--color);
  @include declaration(font-style, $formgroup-label--font-style);
  @include declaration(font-weight, $formgroup-label--font-weight);
  @include declaration(text-transform, $formgroup-label--text-transform);
  @include declaration(touch-action, manipulation);
  @include declaration('-include-forms--md-form-label', $formgroup--md-effet);

  @include block-generation($formgroup-label--selector);
}


$formgroup-input--selector: selector--set-element($formgroup--selector, 'input');

@include selector($formgroup-input--selector) {
  @include declaration(display, block);
  @include declaration(width, 100%);
  @include declaration(background-image, none);
  @include declaration(background-clip, padding-box);
  @include declaration(padding, $formgroup-input--padding);
  @include declaration(font-size, $formgroup-input--font-size);
  @include declaration(line-height, $formgroup-input--line-height);
  @include declaration(color, $formgroup-input--color);
  @include declaration(background-color, $formgroup-input--background-color);
  @include declaration(border-width, $formgroup-input--border-width);
  @include declaration(border-style, $formgroup-input--border-style);
  @include declaration(border-color, $formgroup-input--border-color);
  @include declaration(border-radius, $formgroup-input--border-radius);
  @include declaration(box-shadow, $formgroup-input--box-shadow);
  @include declaration(outline, $formgroup-input--outline);
  @include declaration(font-style, $formgroup-input--font-style);
  @include declaration(font-weight, $formgroup-input--font-weight);
  @include declaration(text-transform, $formgroup-input--text-transform);

  @include block-generation($formgroup-input--selector);
}


$formgroup-help--selector: selector--set-element($formgroup--selector, 'help');

@include selector($formgroup-help--selector) {
  @include declaration(display, block);
  @include declaration(width, 100%);
  @include declaration(margin, $formgroup-help--margin);
  @include declaration(padding, $formgroup-help--padding);
  @include declaration(font-size, $formgroup-help--font-size);
  @include declaration(line-height, $formgroup-help--line-height);
  @include declaration(color, $formgroup-help--color);
  @include declaration(background-color, $formgroup-help--background-color);
  @include declaration(background-image, $formgroup-help--background-image);
  @include declaration(background-position, $formgroup-help--background-position);
  @include declaration(background-size, $formgroup-help--background-size);
  @include declaration(background-repeat, $formgroup-help--background-repeat);
  @include declaration(border-width, $formgroup-help--border-width);
  @include declaration(border-style, $formgroup-help--border-style);
  @include declaration(border-color, $formgroup-help--border-color);
  @include declaration(border-radius, $formgroup-help--border-radius);
  @include declaration(box-shadow, $formgroup-help--box-shadow);
  @include declaration(font-style, $formgroup-help--font-style);
  @include declaration(font-weight, $formgroup-help--font-weight);
  @include declaration(text-transform, $formgroup-help--text-transform);

  @include block-generation($formgroup-help--selector);
}




$checkbox--selector: selector--constructor($form--synthax, 'checkbox');

@include selector($checkbox--selector) {
  @include declaration(position, relative);
  @include declaration(display, flex);
  @include declaration(cursor, pointer);
  @include declaration(user-select, none);
  @include declaration(font-size, $checkbox--font-size);
  @include declaration(line-height, $checkbox--line-height);
  @include declaration(padding, $checkbox--padding);
  @include declaration(margin, $checkbox--margin);
  @include declaration(font-style, $checkbox--font-style);
  @include declaration(font-weight, $checkbox--font-weight);
  @include declaration(text-transform, $checkbox--text-transform);


  @include block-generation($checkbox--selector);
}


$checkbox-native--selector: selector--set-element($checkbox--selector, 'native');
$checkbox-native-checked--selector: selector--append-pseudo-classes($checkbox-native--selector, 'checked');

@include selector($checkbox-native--selector) {
  @include declaration(position, absolute);
  @include declaration(transform, translate(-50%, -50%));
  @include declaration(opacity, 0);
  @include declaration('-include-forms--checkbox-native-margin', $checkbox-indicator--size);

  @include block-generation($checkbox-native--selector);
}


$checkbox-indicator--selector: selector--set-element($checkbox--selector, 'indicator');
$checkbox-indicator-checked--selector: selector--append-parent($checkbox-indicator--selector, $checkbox-native-checked--selector, '~');

@include selector($checkbox-indicator--selector) {
  @include declaration(display, inline-block);
  @include declaration(width, $checkbox-indicator--size);
  @include declaration(height, $checkbox-indicator--size);
  @include declaration(margin, $checkbox-indicator--margin);
  @include declaration(background-color, $checkbox-indicator--background-color);
  @include declaration(background-image, $checkbox-indicator--background-image);
  @include declaration(background-repeat, $checkbox-indicator--background-repeat);
  @include declaration(background-size, $checkbox-indicator--background-size);
  @include declaration(background-position, $checkbox-indicator--background-position);
  @include declaration(border-radius, $checkbox-indicator--border-radius);
  @include declaration(border-width, $checkbox-indicator--border-width);
  @include declaration(border-style, $checkbox-indicator--border-style);
  @include declaration(border-color, $checkbox-indicator--border-color);
  @include declaration(transition-property, $checkbox-indicator--transition-property);
  @include declaration(transition-timing-function, $checkbox-indicator--transition-timing-function);
  @include declaration(transition-duration, $checkbox-indicator--transition-duration);
  @include declaration(box-shadow, $checkbox-indicator--box-shadow);

  @include block-generation($checkbox-indicator--selector);
}

@include selector($checkbox-indicator-checked--selector) {
  @include declaration(background-color, $checkbox-indicator-checked--background-color);
  @include declaration(background-image, $checkbox-indicator-checked--background-image);
  @include declaration(background-repeat, $checkbox-indicator-checked--background-repeat);
  @include declaration(background-size, $checkbox-indicator-checked--background-size);
  @include declaration(background-position, $checkbox-indicator-checked--background-position);
  @include declaration(border-color, $checkbox-indicator-checked--border-color);
  @include declaration(box-shadow, $checkbox-indicator-checked--box-shadow);

  @include block-generation($checkbox-indicator-checked--selector);
}




$radio--selector: selector--constructor($form--synthax, 'radio');

@include selector($radio--selector) {
  @include declaration(position, relative);
  @include declaration(display, flex);
  @include declaration(cursor, pointer);
  @include declaration(user-select, none);
  @include declaration(font-size, $radio--font-size);
  @include declaration(line-height, $radio--line-height);
  @include declaration(padding, $radio--padding);
  @include declaration(margin, $radio--margin);
  @include declaration(font-style, $radio--font-style);
  @include declaration(font-weight, $radio--font-weight);
  @include declaration(text-transform, $radio--text-transform);


  @include block-generation($radio--selector);
}


$radio-native--selector: selector--set-element($radio--selector, 'native');
$radio-native-checked--selector: selector--append-pseudo-classes($radio-native--selector, 'checked');

@include selector($radio-native--selector) {
  @include declaration(position, absolute);
  @include declaration(transform, translate(-50%, -50%));
  @include declaration(opacity, 0);
  @include declaration('-include-forms--checkbox-native-margin', $radio-indicator--size);

  @include block-generation($radio-native--selector);
}


$radio-indicator--selector: selector--set-element($radio--selector, 'indicator');
$radio-indicator-checked--selector: selector--append-parent($radio-indicator--selector, $radio-native-checked--selector, '~');

@include selector($radio-indicator--selector) {
  @include declaration(display, inline-block);
  @include declaration(width, $radio-indicator--size);
  @include declaration(height, $radio-indicator--size);
  @include declaration(margin, $radio-indicator--margin);
  @include declaration(background-color, $radio-indicator--background-color);
  @include declaration(background-image, $radio-indicator--background-image);
  @include declaration(background-repeat, $radio-indicator--background-repeat);
  @include declaration(background-size, $radio-indicator--background-size);
  @include declaration(background-position, $radio-indicator--background-position);
  @include declaration(border-radius, $radio-indicator--border-radius);
  @include declaration(border-width, $radio-indicator--border-width);
  @include declaration(border-style, $radio-indicator--border-style);
  @include declaration(border-color, $radio-indicator--border-color);
  @include declaration(transition-property, $radio-indicator--transition-property);
  @include declaration(transition-timing-function, $radio-indicator--transition-timing-function);
  @include declaration(transition-duration, $radio-indicator--transition-duration);
  @include declaration(box-shadow, $radio-indicator--box-shadow);

  @include block-generation($radio-indicator--selector);
}

@include selector($radio-indicator-checked--selector) {
  @include declaration(background-color, $radio-indicator-checked--background-color);
  @include declaration(background-image, $radio-indicator-checked--background-image);
  @include declaration(background-repeat, $radio-indicator-checked--background-repeat);
  @include declaration(background-size, $radio-indicator-checked--background-size);
  @include declaration(background-position, $radio-indicator-checked--background-position);
  @include declaration(border-color, $radio-indicator-checked--border-color);
  @include declaration(box-shadow, $radio-indicator-checked--box-shadow);

  @include block-generation($radio-indicator-checked--selector);
}
