/**
 * forms
 */

@if $formgroup--enable {
  $formgroup--selector: selector(new 'form-group' with $form--syntax);

  @include statement($formgroup--selector, (
    (font-size, $formgroup--font-size),
    (font-family, $formgroup--font-family),
    (margin-bottom, $formgroup--margin-bottom),
    ('@include forms--md-form-group', $formgroup--md-effet),
  ));


  $formgroup-label--selector: selector(set $formgroup--selector element 'label');

  @include statement($formgroup-label--selector, (
    (display, block),
    (font-size, $formgroup-label--font-size),
    (font-family, $formgroup-label--font-family),
    (margin-bottom, $formgroup-label--margin-bottom),
    (text-align, $formgroup-label--text-align),
    (line-height, $formgroup-label--line-height),
    (color, $formgroup-label--color),
    (font-style, $formgroup-label--font-style),
    (font-weight, $formgroup-label--font-weight),
    (text-transform, $formgroup-label--text-transform),
    (touch-action, manipulation),
    ('@include forms--md-form-label', $formgroup--md-effet),
  ));


  $formgroup-input--selector: selector(set $formgroup--selector element 'input');

  @include statement($formgroup-input--selector, (
    (display, block),
    (width, 100%),
    (background-image, none),
    (background-clip, padding-box),
    (padding, $formgroup-input--padding),
    (font-size, $formgroup-input--font-size),
    (line-height, $formgroup-input--line-height),
    (color, $formgroup-input--color),
    (background-color, $formgroup-input--background-color),
    (border-width, $formgroup-input--border-width),
    (border-style, $formgroup-input--border-style),
    (border-color, $formgroup-input--border-color),
    (border-radius, $formgroup-input--border-radius),
    (box-shadow, $formgroup-input--box-shadow),
    (outline, $formgroup-input--outline),
    (font-style, $formgroup-input--font-style),
    (font-weight, $formgroup-input--font-weight),
    (text-transform, $formgroup-input--text-transform),
  ));


  $formgroup-help--selector: selector(set $formgroup--selector element 'help');

  @include statement($formgroup-help--selector, (
    (display, block),
    (width, 100%),
    (margin, $formgroup-help--margin),
    (padding, $formgroup-help--padding),
    (font-size, $formgroup-help--font-size),
    (line-height, $formgroup-help--line-height),
    (color, $formgroup-help--color),
    (background-color, $formgroup-help--background-color),
    (background-image, $formgroup-help--background-image),
    (background-position, $formgroup-help--background-position),
    (background-size, $formgroup-help--background-size),
    (background-repeat, $formgroup-help--background-repeat),
    (border-width, $formgroup-help--border-width),
    (border-style, $formgroup-help--border-style),
    (border-color, $formgroup-help--border-color),
    (border-radius, $formgroup-help--border-radius),
    (box-shadow, $formgroup-help--box-shadow),
    (font-style, $formgroup-help--font-style),
    (font-weight, $formgroup-help--font-weight),
    (text-transform, $formgroup-help--text-transform),
  ));
}



@if $checkbox--enable {
  $checkbox--selector: selector(new 'checkbox' with $form--syntax);

  @include statement($checkbox--selector, (
    (position, relative),
    (display, flex),
    (cursor, pointer),
    (user-select, none),
    (font-size, $checkbox--font-size),
    (line-height, $checkbox--line-height),
    (padding, $checkbox--padding),
    (margin, $checkbox--margin),
    (font-style, $checkbox--font-style),
    (font-weight, $checkbox--font-weight),
    (text-transform, $checkbox--text-transform),
  ));


  $checkbox-native--selector: selector(set $checkbox--selector element 'native');
  $checkbox-native-checked--selector: selector(append $checkbox-native--selector pseudo-class 'checked');

  @include statement($checkbox-native--selector, (
    (position, absolute),
    (transform, translate(-50%, -50%)),
    (opacity, 0),
    ('@include forms--checkbox-native-margin', $checkbox-indicator--size),
  ));


  $checkbox-indicator--selector: selector(set $checkbox--selector element 'indicator');

  @include statement($checkbox-indicator--selector, (
    (display, inline-block),
    (position, relative),
    (width, $checkbox-indicator--size),
    (height, $checkbox-indicator--size),
    (margin, $checkbox-indicator--margin),
    (background-color, $checkbox-indicator--background-color),
    (background-image, $checkbox-indicator--background-image),
    (background-repeat, $checkbox-indicator--background-repeat),
    (background-size, $checkbox-indicator--background-size),
    (background-position, $checkbox-indicator--background-position),
    (border-radius, $checkbox-indicator--border-radius),
    (border-width, $checkbox-indicator--border-width),
    (border-style, $checkbox-indicator--border-style),
    (border-color, $checkbox-indicator--border-color),
    (transition-property, $checkbox-indicator--transition-property),
    (transition-timing-function, $checkbox-indicator--transition-timing-function),
    (transition-duration, $checkbox-indicator--transition-duration),
    (box-shadow, $checkbox-indicator--box-shadow),
  ));

  $checkbox-indicator-before--selector: selector(set $checkbox-indicator--selector pseudo-element 'before');

  @include statement($checkbox-indicator-before--selector, (
    (content, ''),
    (position, absolute),
    (top, 50%),
    (left, 50%),
    (transform, translate(-50%, -50%)),
    (width, $checkbox-indicator-before--width),
    (height, $checkbox-indicator-before--height),
    (background-color, $checkbox-indicator-before--background-color),
    (background-image, $checkbox-indicator-before--background-image),
    (background-repeat, $checkbox-indicator-before--background-repeat),
    (background-size, $checkbox-indicator-before--background-size),
    (background-position, $checkbox-indicator-before--background-position),
    (border-radius, $checkbox-indicator-before--border-radius),
    (border-width, $checkbox-indicator-before--border-width),
    (border-style, $checkbox-indicator-before--border-style),
    (border-color, $checkbox-indicator-before--border-color),
    (transition-property, $checkbox-indicator-before--transition-property),
    (transition-timing-function, $checkbox-indicator-before--transition-timing-function),
    (transition-duration, $checkbox-indicator-before--transition-duration),
    (box-shadow, $checkbox-indicator-before--box-shadow),
  ));

  $checkbox-indicator-checked-before--selector: selector(append $checkbox-indicator-before--selector parent $checkbox-native-checked--selector as '~');

  @include statement($checkbox-indicator-checked-before--selector, (
    (width, $checkbox-indicator-checked-before--width),
    (height, $checkbox-indicator-checked-before--height),
    (background-color, $checkbox-indicator-checked-before--background-color),
    (background-image, $checkbox-indicator-checked-before--background-image),
    (background-repeat, $checkbox-indicator-checked-before--background-repeat),
    (background-size, $checkbox-indicator-checked-before--background-size),
    (background-position, $checkbox-indicator-checked-before--background-position),
    (border-radius, $checkbox-indicator-checked-before--border-radius),
    (border-width, $checkbox-indicator-checked-before--border-width),
    (border-style, $checkbox-indicator-checked-before--border-style),
    (border-color, $checkbox-indicator-checked-before--border-color),
    (transition-property, $checkbox-indicator-checked-before--transition-property),
    (transition-timing-function, $checkbox-indicator-checked-before--transition-timing-function),
    (transition-duration, $checkbox-indicator-checked-before--transition-duration),
    (box-shadow, $checkbox-indicator-checked-before--box-shadow),
  ));
}



@if $radio--enable {
  $radio--selector: selector(new 'radio' with $form--syntax);

  @include statement($radio--selector, (
    (position, relative),
    (display, flex),
    (cursor, pointer),
    (user-select, none),
    (font-size, $radio--font-size),
    (line-height, $radio--line-height),
    (padding, $radio--padding),
    (margin, $radio--margin),
    (font-style, $radio--font-style),
    (font-weight, $radio--font-weight),
    (text-transform, $radio--text-transform),
  ));


  $radio-native--selector: selector(set $radio--selector element 'native');
  $radio-native-checked--selector: selector(append $radio-native--selector pseudo-class 'checked');

  @include statement($radio-native--selector, (
    (position, absolute),
    (transform, translate(-50%, -50%)),
    (opacity, 0),
    ('@include forms--checkbox-native-margin', $radio-indicator--size),
  ));


  $radio-indicator--selector: selector(set $radio--selector element 'indicator');
  $radio-indicator-checked--selector: selector(append $radio-indicator--selector parent $radio-native-checked--selector as '~');

  @include statement($radio-indicator--selector, (
    (display, inline-block),
    (position, relative),
    (width, $radio-indicator--size),
    (height, $radio-indicator--size),
    (margin, $radio-indicator--margin),
    (background-color, $radio-indicator--background-color),
    (background-image, $radio-indicator--background-image),
    (background-repeat, $radio-indicator--background-repeat),
    (background-size, $radio-indicator--background-size),
    (background-position, $radio-indicator--background-position),
    (border-radius, $radio-indicator--border-radius),
    (border-width, $radio-indicator--border-width),
    (border-style, $radio-indicator--border-style),
    (border-color, $radio-indicator--border-color),
    (transition-property, $radio-indicator--transition-property),
    (transition-timing-function, $radio-indicator--transition-timing-function),
    (transition-duration, $radio-indicator--transition-duration),
    (box-shadow, $radio-indicator--box-shadow),
  ));

  $radio-indicator-before--selector: selector(set $radio-indicator--selector pseudo-element 'before');

  @include statement($radio-indicator-before--selector, (
    (content, ''),
    (position, absolute),
    (top, 50%),
    (left, 50%),
    (transform, translate(-50%, -50%)),
    (width, $radio-indicator-before--width),
    (height, $radio-indicator-before--height),
    (background-color, $radio-indicator-before--background-color),
    (background-image, $radio-indicator-before--background-image),
    (background-repeat, $radio-indicator-before--background-repeat),
    (background-size, $radio-indicator-before--background-size),
    (background-position, $radio-indicator-before--background-position),
    (border-radius, $radio-indicator-before--border-radius),
    (border-width, $radio-indicator-before--border-width),
    (border-style, $radio-indicator-before--border-style),
    (border-color, $radio-indicator-before--border-color),
    (transition-property, $radio-indicator-before--transition-property),
    (transition-timing-function, $radio-indicator-before--transition-timing-function),
    (transition-duration, $radio-indicator-before--transition-duration),
    (box-shadow, $radio-indicator-before--box-shadow),
  ));

  $radio-indicator-checked-before--selector: selector(append $radio-indicator-before--selector parent $radio-native-checked--selector as '~');

  @include statement($radio-indicator-checked-before--selector, (
    (width, $radio-indicator-checked-before--width),
    (height, $radio-indicator-checked-before--height),
    (background-color, $radio-indicator-checked-before--background-color),
    (background-image, $radio-indicator-checked-before--background-image),
    (background-repeat, $radio-indicator-checked-before--background-repeat),
    (background-size, $radio-indicator-checked-before--background-size),
    (background-position, $radio-indicator-checked-before--background-position),
    (border-radius, $radio-indicator-checked-before--border-radius),
    (border-width, $radio-indicator-checked-before--border-width),
    (border-style, $radio-indicator-checked-before--border-style),
    (border-color, $radio-indicator-checked-before--border-color),
    (transition-property, $radio-indicator-checked-before--transition-property),
    (transition-timing-function, $radio-indicator-checked-before--transition-timing-function),
    (transition-duration, $radio-indicator-checked-before--transition-duration),
    (box-shadow, $radio-indicator-checked-before--box-shadow),
  ));
}


@if $select--enable {
  $select--selector: selector(new select as $form--syntax);

  @include statement($select--selector, (
    (position, relative),
    (display, block),
    (font-size, $select--font-size),
    (font-family, $select--font-family),
    (border-radius, $select--border-radius),
    (border-width, $select--border-width),
    (border-style, $select--border-style),
    (border-color, $select--border-color),
    (box-shadow, $select--box-shadow),
    (width, $select--width),
    (height, $select--height),
    (margin, $select--margin),
  ));


  $select-native--selector: selector(set $select--selector element 'native');

  @include statement($select-native--selector, (
    (display, inline-block),
    (font-size, 1em),
    (width, 100%),
    (margin, 0),
    (padding-top, $select--padding-y),
    (padding-bottom, $select--padding-y),
    (padding-left, $select--padding-x),
    ('-include-forms--select-padding-right', $select--padding-x),
    (line-height, $select--line-height),
    (color, $select--color),
    (background-color, $select--background-color),
    (border, 0),
    (border-radius, $select--border-radius),
    (cursor, $select--cursor),
    (outline, 0),
    (appearance, none),

    // Undo the Firefox inner focus ring
    (color, transparent, (':focus', ':-moz-focusring')),
    (text-shadow, 0 0 0 #000, (':focus', ':-moz-focusring')),
  ));


  $select-caret--selector: selector(set $select--selector pseudo-element 'after');

  @include statement($select-caret--selector, (
    (content, ''),
    (position, absolute),
    (top, 50%),
    (right, $select--padding-x),
    (display, inline-block),
    ('@include forms--select-caret-switch', $select-caret--method),
    ('@include forms--select-caret-margin-top', $select-caret--height),
  ));
}
