$formgroup--enable: true !default;
$formgroup--font-size: 1rem !default;
$formgroup--font-family: null !default;
$formgroup--margin-bottom: 2em !default;
$formgroup--md-effet: (
  '-md': true,
) !default;

$formgroup-label--font-size: 0.875em !default;
$formgroup-label--font-family: null !default;
$formgroup-label--margin-bottom: 0.5em !default;
$formgroup-label--text-align: null !default;
$formgroup-label--line-height: 1.143 !default;
$formgroup-label--color: null !default;
$formgroup-label--font-style: null !default;
$formgroup-label--font-weight: null !default;
$formgroup-label--text-transform: null !default;

$formgroup-input--padding: 0 0 0.5em !default;
$formgroup-input--font-size: 1em !default;
$formgroup-input--line-height: 1.25 !default;
$formgroup-input--color: black !default;
$formgroup-input--background-color: white !default;
$formgroup-input--border-width: 0 0 0.0625em 0 !default;
$formgroup-input--border-style: solid !default;
$formgroup-input--border-color: null !default;
$formgroup-input--border-radius: null !default;
$formgroup-input--box-shadow: null !default;
$formgroup-input--font-style: null !default;
$formgroup-input--font-weight: null !default;
$formgroup-input--text-transform: null !default;
$formgroup-input--outline: (
  ':focus': 0,
) !default;

$formgroup-help--margin: 0.5em 0 0 !default;
$formgroup-help--padding: null !default;
$formgroup-help--font-size: 0.8em !default;
$formgroup-help--line-height: null !default;
$formgroup-help--color: null !default;
$formgroup-help--background-color: null !default;
$formgroup-help--background-image: null !default;
$formgroup-help--background-position: null !default;
$formgroup-help--background-size: null !default;
$formgroup-help--background-repeat: null !default;
$formgroup-help--border-width: null !default;
$formgroup-help--border-style: null !default;
$formgroup-help--border-color: null !default;
$formgroup-help--border-radius: null !default;
$formgroup-help--box-shadow: null !default;
$formgroup-help--font-style: null !default;
$formgroup-help--font-weight: null !default;
$formgroup-help--text-transform: null !default;

$checkbox--enable: true !default;
$checkbox--font-size: null !default;
$checkbox--line-height: null !default;
$checkbox--padding: null !default;
$checkbox--margin: null !default;
$checkbox--font-style: null !default;
$checkbox--font-weight: null !default;
$checkbox--text-transform: null !default;

$checkbox-indicator--size: 20px !default;
$checkbox-indicator--margin: 0 10px 0 0 !default;
$checkbox-indicator--background-color: grey !default;
$checkbox-indicator--background-image: null !default;
$checkbox-indicator--background-repeat: null !default;
$checkbox-indicator--background-size: null !default;
$checkbox-indicator--background-position: null !default;
$checkbox-indicator--border-radius: 3px !default;
$checkbox-indicator--border-width: 1px !default;
$checkbox-indicator--border-style: solid !default;
$checkbox-indicator--border-color: transparent !default;
$checkbox-indicator--transition-property: null !default;
$checkbox-indicator--transition-timing-function: null !default;
$checkbox-indicator--transition-duration: null !default;
$checkbox-indicator--box-shadow: null !default;

$checkbox-indicator-checked--background-color: blue !default;
$checkbox-indicator-checked--background-image: null !default;
$checkbox-indicator-checked--background-repeat: null !default;
$checkbox-indicator-checked--background-size: null !default;
$checkbox-indicator-checked--background-position: null !default;
$checkbox-indicator-checked--border-color: null !default;
$checkbox-indicator-checked--box-shadow: null !default;

$radio--enable: true !default;
$radio--font-size: null !default;
$radio--line-height: null !default;
$radio--padding: null !default;
$radio--margin: null !default;
$radio--font-style: null !default;
$radio--font-weight: null !default;
$radio--text-transform: null !default;

$radio-indicator--size: 20px !default;
$radio-indicator--margin: 0 10px 0 0 !default;
$radio-indicator--background-color: grey !default;
$radio-indicator--background-image: null !default;
$radio-indicator--background-repeat: null !default;
$radio-indicator--background-size: null !default;
$radio-indicator--background-position: null !default;
$radio-indicator--border-radius: 20px !default;
$radio-indicator--border-width: 1px !default;
$radio-indicator--border-style: solid !default;
$radio-indicator--border-color: transparent !default;
$radio-indicator--transition-property: null !default;
$radio-indicator--transition-timing-function: null !default;
$radio-indicator--transition-duration: null !default;
$radio-indicator--box-shadow: null !default;

$radio-indicator-checked--background-color: blue !default;
$radio-indicator-checked--background-image: null !default;
$radio-indicator-checked--background-repeat: null !default;
$radio-indicator-checked--background-size: null !default;
$radio-indicator-checked--background-position: null !default;
$radio-indicator-checked--border-color: null !default;
$radio-indicator-checked--box-shadow: null !default;


$select--enable: true !default;
$select--color: black !default;
$select--font-size: 1rem !default;
$select--font-family: null !default;
$select--border-radius: 0.1875em !default;
$select--border-width: 1px !default;
$select--border-style: solid !default;
$select--border-color: null !default;
$select--box-shadow: null !default;
$select--width: null !default;
$select--height: null !default;
$select--margin: null !default;
$select--padding-x: 1em !default;
$select--padding-y: 0.5em !default;
$select--line-height: 1.5 !default;
$select--background-color: #eee !default;
$select--cursor: pointer !default;

$select-caret--method: 'css'; // 'image' or 'css'
$select-caret--width: 0.7em;
$select-caret--height: 0.4em;
$select-caret--margin-left: 0.5em;
$select-caret--background-color: currentColor;
