$formgroup--enable: true !default; // not a trowel variable
$formgroup--font-size: trwl-theme-size('md') !default;
$formgroup--font-family: null !default;
$formgroup--margin-bottom: 2em !default;
$formgroup--md-effet: (
  '-md': true,
) !default;

$formgroup-label--font-size: 0.75em !default;
$formgroup-label--font-family: null !default;
$formgroup-label--margin-bottom: 0.5em !default;
$formgroup-label--text-align: null !default;
$formgroup-label--line-height: trwl-theme('line-height') !default;
$formgroup-label--color: null !default;
$formgroup-label--font-style: null !default;
$formgroup-label--font-weight: null !default;
$formgroup-label--text-transform: null !default;

$formgroup-input--padding: 0 0 0.5em !default;
$formgroup-input--font-size: 1em !default;
$formgroup-input--line-height: trwl-theme('line-height') !default;
$formgroup-input--color: black !default;
$formgroup-input--background-color: white !default;
$formgroup-input--border-width: 0 0 0.0625em 0 !default;
$formgroup-input--border-style: solid !default;
$formgroup-input--border-color: null !default;
$formgroup-input--border-radius: null !default;
$formgroup-input--box-shadow: null !default;
$formgroup-input--font-style: null !default;
$formgroup-input--font-weight: null !default;
$formgroup-input--text-transform: null !default;
$formgroup-input--outline: (
  ':focus': 0,
) !default;

$formgroup-help--margin: 0.5em 0 0 !default;
$formgroup-help--padding: null !default;
$formgroup-help--font-size: 0.8em !default;
$formgroup-help--line-height: null !default;
$formgroup-help--color: null !default;
$formgroup-help--background-color: null !default;
$formgroup-help--background-image: null !default;
$formgroup-help--background-position: null !default;
$formgroup-help--background-size: null !default;
$formgroup-help--background-repeat: null !default;
$formgroup-help--border-width: null !default;
$formgroup-help--border-style: null !default;
$formgroup-help--border-color: null !default;
$formgroup-help--border-radius: null !default;
$formgroup-help--box-shadow: null !default;
$formgroup-help--font-style: null !default;
$formgroup-help--font-weight: null !default;
$formgroup-help--text-transform: null !default;

$checkbox--enable: true !default; // not a trowel variable
$checkbox--font-size: trwl-theme-size('md') !default;
$checkbox--line-height: null !default;

$checkbox--padding: null !default;
$checkbox--margin: null !default;
$checkbox--font-style: null !default;
$checkbox--font-weight: null !default;
$checkbox--text-transform: null !default;

$checkbox-indicator--size: 1.25em !default;
$checkbox-indicator--margin: 0 0.5em 0 0 !default;
$checkbox-indicator--background-color: trwl-theme-color('gray-medium') !default;
$checkbox-indicator--background-image: null !default;
$checkbox-indicator--background-repeat: null !default;
$checkbox-indicator--background-size: null !default;
$checkbox-indicator--background-position: null !default;
$checkbox-indicator--border-radius: trwl-theme('border-radius') !default;
$checkbox-indicator--border-width: trwl-theme('border-width') !default;
$checkbox-indicator--border-style: solid !default;
$checkbox-indicator--border-color: trwl-theme-color('gray-dark') !default;
$checkbox-indicator--transition-property: null !default;
$checkbox-indicator--transition-timing-function: null !default;
$checkbox-indicator--transition-duration: null !default;
$checkbox-indicator--box-shadow: null !default;

$checkbox-indicator-before--width: 0.875em !default;
$checkbox-indicator-before--height: 0.875em !default;
$checkbox-indicator-before--background-color: transparent !default;
$checkbox-indicator-before--background-image: null !default;
$checkbox-indicator-before--background-repeat: null !default;
$checkbox-indicator-before--background-size: null !default;
$checkbox-indicator-before--background-position: null !default;
$checkbox-indicator-before--border-radius: 0.1em !default;
$checkbox-indicator-before--border-width: null !default;
$checkbox-indicator-before--border-style: null !default;
$checkbox-indicator-before--border-color: null !default;
$checkbox-indicator-before--transition-property: null !default;
$checkbox-indicator-before--transition-timing-function: null !default;
$checkbox-indicator-before--transition-duration: null !default;
$checkbox-indicator-before--box-shadow: null !default;

$checkbox-indicator-checked-before--width: null !default;
$checkbox-indicator-checked-before--height: null !default;
$checkbox-indicator-checked-before--background-color: trwl-theme-color('primary') !default;
$checkbox-indicator-checked-before--background-image: null !default;
$checkbox-indicator-checked-before--background-repeat: null !default;
$checkbox-indicator-checked-before--background-size: null !default;
$checkbox-indicator-checked-before--background-position: null !default;
$checkbox-indicator-checked-before--border-radius: null !default;
$checkbox-indicator-checked-before--border-width: null !default;
$checkbox-indicator-checked-before--border-style: null !default;
$checkbox-indicator-checked-before--border-color: null !default;
$checkbox-indicator-checked-before--transition-property: null !default;
$checkbox-indicator-checked-before--transition-timing-function: null !default;
$checkbox-indicator-checked-before--transition-duration: null !default;
$checkbox-indicator-checked-before--box-shadow: null !default;


$radio--enable: true !default; // not a trowel variable
$radio--font-size: trwl-theme-size('md') !default;
$radio--line-height: null !default;

$radio--padding: null !default;
$radio--margin: null !default;
$radio--font-style: null !default;
$radio--font-weight: null !default;
$radio--text-transform: null !default;

$radio-indicator--size: 1.25em !default;
$radio-indicator--margin: 0 0.5em 0 0 !default;
$radio-indicator--background-color: trwl-theme-color('gray-medium') !default;
$radio-indicator--background-image: null !default;
$radio-indicator--background-repeat: null !default;
$radio-indicator--background-size: null !default;
$radio-indicator--background-position: null !default;
$radio-indicator--border-radius: 100% !default;
$radio-indicator--border-width: trwl-theme('border-width') !default;
$radio-indicator--border-style: solid !default;
$radio-indicator--border-color: trwl-theme-color('gray-dark') !default;
$radio-indicator--transition-property: null !default;
$radio-indicator--transition-timing-function: null !default;
$radio-indicator--transition-duration: null !default;
$radio-indicator--box-shadow: null !default;

$radio-indicator-before--width: 0.875em !default;
$radio-indicator-before--height: 0.875em !default;
$radio-indicator-before--background-color: transparent !default;
$radio-indicator-before--background-image: null !default;
$radio-indicator-before--background-repeat: null !default;
$radio-indicator-before--background-size: null !default;
$radio-indicator-before--background-position: null !default;
$radio-indicator-before--border-radius: 100% !default;
$radio-indicator-before--border-width: null !default;
$radio-indicator-before--border-style: null !default;
$radio-indicator-before--border-color: null !default;
$radio-indicator-before--transition-property: null !default;
$radio-indicator-before--transition-timing-function: null !default;
$radio-indicator-before--transition-duration: null !default;
$radio-indicator-before--box-shadow: null !default;

$radio-indicator-checked-before--width: null !default;
$radio-indicator-checked-before--height: null !default;
$radio-indicator-checked-before--background-color: trwl-theme-color('primary') !default;
$radio-indicator-checked-before--background-image: null !default;
$radio-indicator-checked-before--background-repeat: null !default;
$radio-indicator-checked-before--background-size: null !default;
$radio-indicator-checked-before--background-position: null !default;
$radio-indicator-checked-before--border-radius: null !default;
$radio-indicator-checked-before--border-width: null !default;
$radio-indicator-checked-before--border-style: null !default;
$radio-indicator-checked-before--border-color: null !default;
$radio-indicator-checked-before--transition-property: null !default;
$radio-indicator-checked-before--transition-timing-function: null !default;
$radio-indicator-checked-before--transition-duration: null !default;
$radio-indicator-checked-before--box-shadow: null !default;


$select--enable: true !default; // not a trowel variable
$select--color: rgb(0, 0, 0) !default;
$select--font-size: trwl-theme-size('md') !default;
$select--font-family: null !default;
$select--border-radius: trwl-theme('border-radius') !default;
$select--border-width: trwl-theme('border-width') !default;
$select--border-style: solid !default;
$select--border-color: trwl-theme-color('gray-dark') !default;
$select--box-shadow: null !default;
$select--width: null !default;
$select--height: null !default;
$select--margin: null !default;
$select--padding-x: trwl-theme('padding-x') !default;
$select--padding-y: trwl-theme('padding-y') !default;
$select--line-height: null !default;
$select--background-color: trwl-theme-color('gray-medium') !default;
$select--cursor: pointer !default;

$select-caret--method: 'css' !default; // 'image' or 'css'
$select-caret--width: 0.7em !default;
$select-caret--height: 0.4em !default;
$select-caret--margin-left: 0.5em !default;
$select-caret--background-color: currentColor !default;
